<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ language }}" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ language }}" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ language }}" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ language }}" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
<head>
  {% block head %}

    {{ seo['titleTag'] | raw }}

    {% block head_meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ seo['allSeoTags'] | raw }}
    {% endblock %}

    {# CSS #}
      {% block head_css %}
        <link rel="stylesheet" href="{{ urlDirTheme }}/vendor/bower/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="{{ urlRoot }}/css/global.css">
        <link rel="stylesheet" href="{{ urlDirTheme }}/css/app.css">
      {% endblock %}

      {% flush %}

      {# JavaScript #}
      {% block head_js %}
        {{ getHtmlPolyfills() | raw }}
        <script src="{{ urlDirTheme }}/vendor/bower/bootstrap-sass/dist/js/bootstrap.min.js"></script>
        <!-- only for example-images -->
        <script src="{{ urlDirTheme }}/vendor/bower/bootstrap-sass/docs-assets/js/holder.js"></script>
        <script src="{{ urlDirTheme }}/js/app.js"></script>
      {% endblock %}

      {% flush %}

      {{ plugin['in_header'] | raw }}

      {% flush %}

      <link rel="icon" href="{{ urlDirTheme }}/images/favicon.ico" type="image/x-icon">
      <!--[if IE]><link rel="shortcut icon" href="{{ urlDirTheme }}/images/favicon.ico" type="image/x-icon"><![endif]-->
    {% endblock %}
  </head>
  <body id="page{{ page_id }}" class="{{ page_template }}">

    <div class="side-nav">
      <h2>Navi</h2>
      <nav>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </nav>
    </div>

    <div class="page">
      <header>
        <h1 class="company-name">Headline 1</h1>
        <a class="logo" href="#"><img src="http://app.reminderbear.com/assets/images/panda-bear-large.png"></a>
        <nav>
          <ul>
            <li class="nav-item"><a href="#">Nav 1</a></li>
            <li class="nav-item"><a href="#">Nav 2</a></li>
            <li class="nav-item"><a href="#">Nav 3</a></li>
            <li class="nav-item"><a href="#">Nav 4</a></li>
          </ul>
        </nav>
      </header>
      <div class="hero">
        <div class="why-we-love">
          <h2>Lorem ipsum dolor sit amet.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem dolor, dolorum est eum illum iste iusto minus natus nisi nostrum officiis quaerat repudiandae? Accusantium consectetur ex harum libero quaerat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae dolorum ex hic laboriosam laborum nulla provident, rem repellendus reprehenderit!
          </p>
        </div>
        <div class="about-web">
          <div class="in-the-wild">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="in-the-zoo">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
          <div class="in-the-media">
            <img src="http://static.tumblr.com/97a7da76ea8b40d5edd3eadc0f7e0a65/ntyqxws/kNrmx9uoa/tumblr_static_animal-picture-panda-bear-ucumari-animalpicture.jpg">
            <div class="copy">
              <h2>Lorem ipsum dolor sit amet.</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="web-gallery">
        <div><img src="http://static.tumblr.com/97a7da76ea8b40d5edd3eadc0f7e0a65/ntyqxws/kNrmx9uoa/tumblr_static_animal-picture-panda-bear-ucumari-animalpicture.jpg"></div>
        <div><img src="http://static.tumblr.com/97a7da76ea8b40d5edd3eadc0f7e0a65/ntyqxws/kNrmx9uoa/tumblr_static_animal-picture-panda-bear-ucumari-animalpicture.jpg"></div>
        <div><img src="http://static.tumblr.com/97a7da76ea8b40d5edd3eadc0f7e0a65/ntyqxws/kNrmx9uoa/tumblr_static_animal-picture-panda-bear-ucumari-animalpicture.jpg"></div>
        <div><img src="http://static.tumblr.com/97a7da76ea8b40d5edd3eadc0f7e0a65/ntyqxws/kNrmx9uoa/tumblr_static_animal-picture-panda-bear-ucumari-animalpicture.jpg"></div>
        <div><img src="http://static.tumblr.com/97a7da76ea8b40d5edd3eadc0f7e0a65/ntyqxws/kNrmx9uoa/tumblr_static_animal-picture-panda-bear-ucumari-animalpicture.jpg"></div>
        <div><img src="http://static.tumblr.com/97a7da76ea8b40d5edd3eadc0f7e0a65/ntyqxws/kNrmx9uoa/tumblr_static_animal-picture-panda-bear-ucumari-animalpicture.jpg"></div>
      </div>
      <footer>
        <div class="web-links">
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
        <div class="web-social">
          <a class="social-link" href="#"><img src="http://www.clipartbest.com/cliparts/MTL/eyg/MTLeygGBc.png"></a>
          <a class="social-link" href="#"><img src="http://www.clipartbest.com/cliparts/MTL/eyg/MTLeygGBc.png"></a>
          <a class="social-link" href="#"><img src="http://www.clipartbest.com/cliparts/MTL/eyg/MTLeygGBc.png"></a>
          <a class="social-link" href="#"><img src="http://www.clipartbest.com/cliparts/MTL/eyg/MTLeygGBc.png"></a>
          <a class="social-link" href="#"><img src="http://www.clipartbest.com/cliparts/MTL/eyg/MTLeygGBc.png"></a>
          <a class="social-link" href="#"><img src="http://www.clipartbest.com/cliparts/MTL/eyg/MTLeygGBc.png"></a>
        </div>
        <div class="web-partners">
          <img src="http://radiofreethinker.files.wordpress.com/2013/04/pvp20030105.gif">
          <img src="http://majorspoilers.com/wp-content/uploads/2009/01a/2009_04_April_releases/pvp44cover.jpg">
        </div>
      </footer>
    </div>

    {{ plugin['in_footer'] | raw }}

    {{ logger | raw }}

  </body>
</html>
